* {
  margin:0;
  padding: 0;
}
body,
html {
    height: 100%;
    width: 100%;
}

  body {
    background-image: url("https://i.ytimg.com/vi/2Nci4uwY-hU/maxresdefault.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.3rem;
  }
  .hero {
    width: 25%;
    top: 0;
    bottom: 0;
    background-color: rgba(44, 48, 168, 0.5);
  }   
   
  ul {
    margin-top: 1rem;
    list-style: none;
  }

  li {
    border-bottom: 1px solid white;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0 1rem 0 1rem;
  }
  
  /* .container {
    background-color: blue;
  } */
  .list-group {
    background-image: linear-gradient(to left, rgb(236, 100, 10, 0), rgb(238, 128, 26));
    color: black;
  }
  
  #add-card {
    width: 30%;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
  }
  
  .form-check {
    display: flex;
    flex-direction: column;
  }
  
  .form-check-checkList-item {
    margin-left: 20px;
  }
  
  .card {
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
  }
  
  .btn {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
  }
  